.global-footer {
  height: 70px;
  box-shadow: 2px 0px 2px $faintBlack;
  .footer-content {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    text-decoration: none;
    color: $black;
  }
}
