.navigation-bar {
  box-shadow: 0px 2px 2px $faintBlack;
  background-color: $white;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  .navigation-bar-content {
    width: 80%;
    margin: auto;
    padding: 10px 0px 10px 15px;
    min-height: 50px;
  }
  .bar-left {
    float: left;
  }
  .logo-link {
    display: inline-block;
    padding: 0;
    outline: none;
  }
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: $faintBlack;
  }
  a img:active {
    opacity: 0.4;
  }

  .bar-right {
    float: right;
  }
  .all-bar-right {
    display: none;
  }
  .omit-bar-right {
    display: block;
  }
  .menu-button {
    display: inline-block;
    min-width: 80px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 15px;
    border-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: $black;
  }
  .menu-button:hover {
    color: $faintBlack;
  }
  .menu-button:active {
    background-color: $faintBlack;
    color: $black;
  }

  @include privat-respond-to('md') {
    .all-bar-right {
      display: block;
    }
    .omit-bar-right {
      display: none;
    }
  }
  @include privat-respond-to('sm') {

  }
}
